* {
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    font-family: 'Oswald', sans-serif;
}

.app {
    min-width: 450px;
    max-width: 1200px;
    margin: 0 auto;
}

.app_header {
    text-align: center;
    font-size: 70px;
}

.app_nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.app_link {
    width: 25%;
}

a {
    text-decoration: none;
    color: black;
}